
<ion-header>
  <ion-toolbar>
    <ion-title>Mandalan Tales</ion-title>
      <ion-button slot="end" color="primary" routerLink="/login">
        <ion-icon name="log-in"></ion-icon> Login</ion-button>
  </ion-toolbar>
</ion-header>

<ion-content>


<!-- text gets injected here -->
<section class="text1">

   <!-- text gets injected here -->
<!--
   <svg class="corner" viewBox="0 0 65 62" fill="none" xmlns="http://www.w3.org/2000/svg">
    <path d="M35 3.5L65 6.5V62L0 0L35 3.5Z" fill="black"/>
 </svg> -->
</section>

<!-- From a future dystopia Earth, you find yourself transported to a strange, medeival world. Discover how you came to be there, why, and how to escape. Along the way you can become a part of the community, accept quests, and fight monsters for loot. Uncover all the secrets of the Mandala, and you can even become a creator of worlds! -->
</ion-content>
